<!--The content below is only a placeholder and can be replaced.-->
<div id="content" class="container col-lg-10 ">
  <header id="header" class=" col-lg-12">
    <h1>{{title}}</h1>
  </header>
<nav id="nav" class="col-lg-12">
  <ul>
    <li><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a></li>
    <li><a [routerLink]="['/products']" [routerLinkActive]="['activado']">Products</a></li>
    <li><a [routerLink]="['/home2']" [routerLinkActive]="['activado']">History</a></li>
    <li><a [routerLink]="['/home3']" [routerLinkActive]="['activado']">Others</a></li>
  </ul>
</nav>

    <section id="main" class="col-lg-12">
    
      <router-outlet></router-outlet>
    
    </section>


  <footer id="footer" class="col-lg-12">

    <p>Blue Mountain Cigars - 2018</p>

  </footer>





</div>
